.textCallback {
  -webkit-text-stroke-color: #ffffff78;
  -webkit-text-stroke-width: 0.2px;
  color: black;
  font-family: verdana;
  width: 42rem;
}

.imageCallback {
  width: 15rem;
}

.textLink {
  stroke: #00000078;
  stroke-width: 0.2px;
  font-family: verdana;
}
